body {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.promo-box {
  width: 600px;
  padding: 40px;
  border: 2px solid #d3ae8b;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background: #e9e0d3
    url("https://tse3.mm.bing.net/th/id/OIP.h35sRmCYZpOnoyXeanHVowHaEY?w=550&h=325&rs=1&pid=ImgDetMain&o=7&rm=3")
    no-repeat top right;
  background-size: 150px;
}

.promo-title {
  text-align: center;
  color: #c0392b;
  margin-bottom: 25px;
  font-size: 24px;
}

.promo-content {
  text-align: justify;

  line-height: 1.8;
  color: #5d4037;
  margin: 0;
}
