* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blog-header {
  width: 100%;
  padding: 80px 0;

  background-color: #1a2533;

  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-header h1 {
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
}
